.add-comment {
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    &.preview {
        gap: 2px;
        justify-content: flex-end;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    .member-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        align-self: self-start;
    }
    .member-img {
        height: 35px;
        width: 35px;
        object-fit: cover;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .member-letter {
        position: relative;
        top: 25%;
        font-weight: 600;
        &.preview {
            margin: 0 0 1em;
        }
    }

    .comment-frame {
        margin-inline-start: 6px;
        flex: 1;
        textarea {
            background: #fff;
            height: 37px;
            transition-duration: 0.2s;
            transition-property: all;
            transition-timing-function: ease-in;
        }
        // textarea:focus {
        //     height: 56px;
        //      transition-duration: 0.2s;
        //     transition-property: all;
        //     transition-timing-function: ease-in;
        // }
    }
}
