.main-header {
  background-color: $clr1;
  color: white;
  justify-content: space-between;
  padding: 8px;
  
  transition: background-color 0.1s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.on-board {
    background-color: rgba(0, 0, 0, 0.15);
  }
  .logo {
    max-height:16px;
    width:auto;
  }
  .header-btn-container {
    gap: 5px;
    .header-btn {
      background-color: hsla(0, 0%, 100%, 0.3);
      padding: 0 8px;
      border-radius: 3px;
      height: 32px;
      width: 32px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-decoration: none;
      transition: background-color 0.2s;
      .icon {
        padding:2px;
      }
      &.boards {
        width: 80px;
        font-weight: 600;
        padding-right: 10px;
        .icon {
          margin-inline-end: 3px;
          padding:2px;
        }
      }
      &:hover {
        background-color: hsla(0, 0%, 100%, 0.2);
      }
    }
    .user-profile {
      border-radius: 50%;
      background-color: rgba(36, 5, 5, 0.37);
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
    }
  }
  a {
    color: white;
  }
  .overlay {
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: #0202022c;
    z-index:15;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
