.board-header { 
    top:38px;
    position:relative;
    background-color:transparent;
    color:white;
    .title { 
        margin:0;
        padding:0;
        width:auto;
        border:none;
        outline:none;
        // width:fit-content; 
        min-width:30px; 
        font-size:rem(18px)    ;
        font-weight: bold;
        cursor: text;
        padding:0;
        margin:0;
        color:white;


    }
    input.title { 
        margin:0;
        font-family: arial;
        font-size:rem(18px);
        background-color:rgba(43, 43, 43, 0.507);
        color:#fff;
        padding:3px 2px;
        border-radius:3px;

    }
    .header-btn-container {
        align-items:center;
        button.header-btn {
            .header-btn {
                background-color:hsla(0,0%,100%,.3);
                padding:5px 5px;
                border-radius:3px;
                color:white;
                display:flex;
                align-items:center;
                justify-content:center;
                text-decoration: none;
             }
        }
    }
}