.board-header { 
    top:38px;
    position:relative;
    background-color:transparent;
    color:white;
    .title { 
        margin:0;
        padding:0;
        width:auto;
        border:none;
        outline:none;
        // width:fit-content; 
        min-width:30px; 
        font-size:rem(18px)    ;
        font-weight: bold;
        cursor: text;
        padding:0;
        margin:0;

    }
    input.title { 
        padding:0 !important;
        margin:0;
        font-family: arial;
        cursor: auto;
        font-size:rem(18px);

    }
    .header-btn-container {
        align-items:center;
        button.header-btn {
            background-color:hsla(0,0%,100%,.3);
            padding:6px 4px;
            border-radius:3px;
            color:white;
        }
    }
}