.group-details {
  min-width: rem(272px);
  overflow: hidden;
  border-radius: 3px;
  background-color: #ebecf0;
  padding: 0.3125rem;
  gap: 6px;
  padding: 6px;
  height: fit-content;
  
  max-height: 87vh;

  &.add-new {
    background-color: #ebecf036;
    color: rgba(255, 255, 255, 0.747);
    font-size: rem(14px);
    cursor: pointer;
  }
  .group-header {
    width: 100%;
    p {
      font-size: 1rem;
      padding-inline-start: 3px;
      font-weight: 500;
      letter-spacing: rem(-0.5px);
    }
  }
  .group-main {
    gap: 6px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 12px;
      background: inherit;
    }
    &::-webkit-scrollbar-track:vertical {
      border-right: 8px solid rgba(0, 0, 0, 0.089);
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb:vertical {
      border-right: 8px solid #9d9ea0;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track:horizontal {
      border-bottom: 8px solid rgba(0, 0, 0, 0.089);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      border-bottom: 8px solid #9d9ea0;

    }
    // &::-webkit-scrollbar-corner,
    //     &::-webkit-resizer {background:inherit;
    //     border-right:8px solid rgba(255,255,255,.2); //optional
    //     border-bottom:8px solid rgba(255,255,255,.2); //optional

    // }
  }
  .group-footer {
    flex-grow: 1;
    justify-self: flex-end;
  }
}
