.grp-add-task {
    display:flex;
    align-items:center;
    align-self:flex-end;
    width:90%;
    font-size:rem(14px);
    margin-top:10px;
    background-color: transparent;
    transition:background-color .2s;
    padding:3px;
    border-radius:3px;
    color: #5e6c84;
    .add-icon { 
        color:inherit;
    }
    p {
    height: fit-content;
    margin:0;
    }
    &:hover {
        color:#172b4d;
        background-color:#091e4214;
    }
}