.media {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 20px;
    .sound-wave {
        border-radius: 20px;
    }
    .llgPQk {
        z-index: 100;
        border-radius: 20px;
        height: 380px;
    }
    .dWiTLG {
        margin-top: 80px;
    }
}
