.date-picker-container {
    .btn-container {
        margin-top: 1rem;
        button {
            margin-top: 0.5rem;
        }
    }

    // .MuiPickersToolbarText-toolbarTxt {
    //     color: white !important;
    // }

    .MuiPickersStaticWrapper-staticWrapperRoot{
        h6,h4 {
            color: white !important;
        }
    }
}