.board-menu {
    .popover {
        min-height: 100vh;
        left: 654px !important;
        top: 46px !important;
        min-width: 21rem!important;
    }
    .menu-details{
        .task-activities-header{
            margin-bottom: .8rem;
        }
        .menu-activity{
            font-weight: 700;
        }
    }
    .task-activities-header {
        h3 {
            margin: 0;
            margin-left: 8px;
        }
        svg {
            height: 18px;
        }
    }
}
