.date-picker-container {
    .date-wrap {
        h4{color:white};
    }
    .btn-container {
        margin-top: 1rem;
        button {
            margin-top: 0.5rem;
        }
    }

    // .MuiPickersToolbarText-toolbarTxt {
    //     color: white !important;
    // }

    .MuiPickersStaticWrapper-staticWrapperRoot{
        h6,h4 {
            color: white !important;
        }
    }
    .MuiPickersDatePickerRoot-toolbar .popover .popover-content span h4 {color: white !important}
}
