.popover-labels {
    z-index: 9999;
    .secondary-btn {
        color: #172b4d;
        width: 100%;
        margin: 1rem 0;
        &:active {
            background-color: #e4f0f6;
        }
    }
    li {
        margin: 0 0 0.25rem;
        svg {
            cursor: pointer;
        }
        div:last-child {
            padding: 8px;
        }
    }
}
.label-add-content {
    width: 18rem;
    .color-palette {
   
        gap: 10px;
        label {
            margin: unset !important;
            width: 49px !important;
        }
    }
}
