.popover-labels {
    input[type="search"] {
        margin: 4px 0 12px;
        width: 100%;
        outline: none;
        border: none;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        border-radius: 3px;
        display: block;
        line-height: 20px;
        padding: 8px 12px;
    }
    .secondary-btn {
        width: 100%;
        margin: 1rem 0;
        &:active {
            background-color: #e4f0f6;
        }
    }
    li {
        margin: 0 0 0.25rem;
        div:last-child {
            padding: 8px;
        }
    }
}
