.popover {
    .clean-mui-arrow {
        svg {
            display: none;
        }
    }
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 25%), 0 0 0 1px rgba(9, 30, 66, 8%);
    position: fixed;
    z-index: 70;
    min-width: 20rem;
    margin-right: 4px;
    max-width: 100%;
    .popover-header {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        color: #5e6c84;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin: 0 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        span {
            color: #5e6c84;
            line-height: 40px;
            // margin: 0 30px;
            padding: 0 32px;
            flex-grow: 1;
        }
        button {
            background-color: transparent;
            color: #6b778c;
            padding: 10px 12px 10px 8px;
            position: absolute;
            right: 0;
            top: 0;
            &:hover {
                color: #172b4d;
            }
        }
        svg {
            width: 20px;
        }
    }

    .popover-content {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;

        justify-content: center;
        flex-direction: column;

        h4 {
            // color: #5e6c84;
            // font-weight: 500;
            // letter-spacing: 0.04em;
            // font-size: 12px;
            // margin-bottom: 0.5rem;

            color: #5e6c84;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.04em;
            line-height: 16px;
            margin-top: 16px;
            text-transform: uppercase;
            margin-bottom: 4px;
        }

        input[type="search"],
        input[type="text"] {
            margin: 4px 0 12px;
            width: 100%;
            outline: none;
            border: none;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            background-color: #fafbfc;
            border-radius: 3px;
            display: block;
            line-height: 20px;
            padding: 8px 12px;
            color: #172b4d;
            font-size: 14px;
            &:active,
            &:focus {
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }
    }
}
