.label-popover-preview {
    color: white;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    min-height: 1.25rem;
    padding: 0.375rem 0.75rem;
    position: relative;
    transition: padding 85ms, margin 85ms, box-shadow 85ms;
    flex-grow: 1;
    justify-content: space-between;
    &:hover {
        padding-inline-start: 14px;
        margin-left: 4px;
    }
}
