.cover-popover {
    width: 18rem;
    .line {
        background: #6b778c;
        height: 4px;
        border-radius: 2px;
    }
    .dot {
        position: absolute;
        width: 10px;
        height: 10px;
        right: 4px;
        background: #6b778c;
        border-radius: 5px;
    }
    .upload-preview {
        margin-bottom: 8px;
        label {
            display: block;
            padding: 6px 12px;
            margin-bottom: 8px;
            cursor: pointer;
            height: 32px;
            line-height: 32px;
            width: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: rgba(9, 30, 66, 0.08);
            }
        }
        input {
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            cursor: pointer;
            position: absolute;
        }
    }
    .cover-options {
        margin-bottom: 0.8rem;
        .header-cover-preview,
        .full-cover-preview {
            margin: 0;
            height: 64px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            box-shadow: none;
            cursor: pointer;
            border-radius: 3px;
            position: relative;
            width: 134px;
            border: 1px solid rgba(9, 30, 66, 0.08);
            &.selected {
                box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
            }
            &:active {
                box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
                filter: none;
            }
            &:hover {
                filter: saturate(85%) brightness(85%);
            }
            .header-section {
                height: 2rem;
                border-radius: 3px;
            }
        }
    }
}

.attachment-container {
    .upload-preview {
        margin-bottom: 8px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        label {
            display: block;
            padding: 6px 12px;
            margin-bottom: 8px;
            cursor: pointer;
            height: 32px;
            line-height: 32px;
            width: 20rem;
            font-size: 1rem;
            display: flex;
            align-items: center;
            &:hover {
                background-color: #091e420a;
            }
        }
        input {
            opacity: 0;
            height: 0;
            width: 0;
            position: absolute;
        }
    }
}
