.board-menu {
    .back {
        position: absolute;
        top: 14px;
        left: 24px;
        font-size: 20px;
        color: #6b778c;
        cursor: pointer;
    }
    .popover {
        height: calc(100vh - 46px);
        right: -4px !important; 
        bottom: 0 !important;
        left: unset !important;
        top: unset !important;
        min-width: 21rem !important;

        overflow: auto;
        .popover-header {
            span {
                font-weight: 600;
                font-size: 16px;
                margin: 6px 0px;
                color: #172b4d;
            }
        }
    }
    .menu-details {
        .activity-by-user {
            width: 240px;
        }
        .task-activities-header {
            margin-bottom: 0.8rem;
        }
        .menu-activity {
            font-weight: 700;
        }
        .menu-list {
            margin: 4px 0;
            cursor: pointer;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(9, 30, 66, 0.13);
            li {
                border-radius: 3px;
                display: flex;
                font-weight: 600;
                line-height: 20px;
                text-decoration: none;
                padding: 6px 6px 6px 0px;
                position: relative;
                align-items: end;
                svg {
                    height: 20px;
                    &:nth-child(1) {
                        width: 20px;
                    }
                }
                .menu-bg-span {
                    padding-right: 19px;
                    border-radius: 3px;
                    height: 20px;
                }
                .menu-title {
                    margin-left: 7px;
                    margin-bottom: 1px;
                }
                &:hover {
                    background-color: #091e4214;
                }
            }
        }
    }
    .task-activities-header {
        h3 {
            margin: 0;
            margin-left: 8px;
        }
        svg {
            height: 18px;
        }
    }
}
