.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.popover {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 25%), 0 0 0 1px rgba(9, 30, 66, 8%);
    position: fixed;
    z-index: 70;
    padding: 0 12px 12px;
    min-width: 20rem;
    margin-right: 4px;
    max-width: 100%;
    .popover-header {
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        color: #5e6c84;
        line-height: 40px;
        border-bottom: 1px solid rgba(9, 30, 66, 0.13);
        margin: 0 0 12px;
        overflow: hidden;
        padding: 0 32px;
        position: relative;
        text-overflow: ellipsis;
        span {
            color: #5e6c84;
            line-height: 40px;
            // margin: 0 30px;
            padding: 0 32px;
            flex-grow: 1;
        }
        button {
            background-color: white;
            color: #6b778c;
            padding: 10px 12px 10px 8px;
            position: absolute;
            right: 0;
            top: 0;
            &:hover {
                color: #172b4d;
            }
        }
        svg {
            width: 20px;
        }
    }

    .popover-content {
        h4 {
            color: #5e6c84;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-size: 12px;
            margin-bottom: 0.5rem;
        }
    }
}
