.task-details-header {
    margin-inline-start: 0;
    @include for-narrow-layout {
        margin-inline-start: 40px;
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: flex-start;
    gap: 20px;
    .task-details-header-title {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 500;
        margin: 0 8px 4px 0;
        text-transform: uppercase;
    }
}
