.task-details-header-date {
    .date-container {
        display: flex;
        flex-wrap: wrap;
        button{
            color: #172b4d;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            box-sizing: border-box;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            cursor: pointer;
            padding: 6px 12px;
            text-decoration: none;
            background-color: rgba(9, 30, 66, 0.04);
            box-shadow: none;
            border: none;
            transition-property: background-color, border-color, box-shadow;
            transition-duration: 85ms;
            transition-timing-function: ease;
            .date-context{
                color: #172b4d;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
            }
            .drop-down-icon{
                color: rgb(66, 82, 110);
                display: inline-block;
                fill: inherit;
                flex-shrink: 0;
                line-height: 1;
            }

        }
        .secondary-btn {
            display: flex;
            border-radius: 3px;
            border: none;
            justify-content: center;
            align-items: center;
            width: 32px;
            padding: 0;
            height: 32px;
            svg {
                path {
                    color: #172b4d;
                }
            }
        }
    }
}
