.task-activities {
    margin-right: 15px;
    @include for-narrow-layout {
        margin-right: unset;
    }
    .window-modal-title {
        align-items: center;
        display: flex;
        min-height: 32px;
        margin: 0 0 4px 40px;
        padding: 8px 0;
        position: relative;
        svg {
            left: -40px;
            position: absolute;
            color: #42526e;
            height: 26px;
            width: 32px;
        }
       
    }
    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #172b4d;
    }
    .activity-toggle-btn {
        border: none;
        border-radius: 3px;
        background-color: #091e420a;
        cursor: pointer;
        color: #172b4d;
        display: inline-block;
        line-height: 20px;
        padding: 6px 12px;
        position: relative;

        &:hover {
            background-color: #091e4214;
        }
    }
}
