.task-details-sidebar {
    .actions-wrapper {
        padding: 0 16px;
        margin-bottom: 24px;
        flex-direction: column;

        .action-btn {
            position: relative;
            margin-bottom: 8px;
            color: #172b4d;
            .action-btn-content {
                align-items: center;
                min-height: 20px;
                svg {
                    color: rgba(23, 43, 77, 0.8);
                    margin: 0 8px 0 -4px;
                    width: 18px;
                    height: 18px;
                }
                span {
                    color: inherit;
                    line-height: 17px;
                }
            }
            &:active {
                background-color: #e4f0f6;
                color: #0079bf;
            }
        }

        h4 {
            grid-column: 1/-1;
            color: #5e6c84;
            font-weight: 500;
            letter-spacing: 0.04em;
            font-size: 12px;
            margin-bottom: 0.5rem;
        }

        .suggested {
            margin-bottom: 16px;
        }
        .add-to-card {
            margin-bottom: 24px;
        }
    }
}
