.task-labels-container { 
    flex-wrap: wrap;
    gap:4px;
    .label { 
        height:8px;
        font-size: 12px;
        border-radius: 4px;
        width:40px;
        align-content: center;
        justify-content: center;
        color:white;
        padding:0 0;
        transition: height .5s , padding .3s ;
        span{
            transition: opacity .2s ;
            opacity:0;
            min-width:40px;
        }
        &.expanded {
            height:16px;
            padding:0 3px;
            width:auto;
            min-width: 40px;
            
            span{
                align-self: center;
                opacity:1;
                transition: opacity .2s .5s;

            }

        }
&:hover{
    filter:brightness(.8)
}
    }
}