.task-preview {
    a{
        text-decoration: none !important;

    }
    background-color:#fff;
    padding:5px;
    border-radius:3px;
    box-shadow: 0 1px 0 #c0c6d0;
    font-size:rem(14px);
    transition: background-color .1s;
    cursor: pointer;
    &:hover {
        background-color:#f4f5f7;
    }
}