.members {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    &.preview {
        gap: 2px;
        justify-content: flex-end;
    }
    .member-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .member-img {
        height: 32px;
        width: 32px;
        object-fit: cover;
        border-radius: 50%;
        border: 0.01rem solid rgba(255, 255, 255, 0.329);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .member-letter {
        position: relative;
        top: 25%;
        font-weight: 600;
        &.preview {
            margin: 0 0 1em;
        }
    }
    .secondary-btn {
        display: flex;
        border-radius: 50%;
        border: none;
        justify-content: center;
        align-items: center;
        width: 32px;
        padding: 0;
        height: 32px;
        svg {
            path {
                color: #172b4d;
            }
        }
    }
}
