.task-preview {
  a {
    text-decoration: none;
  }
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #c0c6d0;
  font-size: rem(14px);
  transition: background-color 0.1s;
  cursor: pointer;
  &:hover {
    background-color: #f4f5f7;
  }
  .task-preview-icons {
    span {
        align-items: center;
        justify-content: center;

      p {
        margin: 0;
        padding: 0;
        color: rgb(107, 119, 140);
        letter-spacing: 0px;
        font-size: rem(12px);

      }
      &.due-date {
          display:flex;
          padding:2px 2px;
          align-items: center;
          height:20px;
          p{
            font-size:rem(12px)
          }
          &.overdue {
              border-radius:4px;
              p{
                  color:white;
                  margin-right:5px;
              }
              background-color:rgb(236, 148, 136);
              color:white;
              .icon{
                  color:inherit;
              }
          }
      }
      .icon {
        padding: 4px;
        color: rgb(107, 119, 140);
      }
    }
  }

}
