.todo-preview-container {
    border-radius: 3px;
    clear: both;
    padding-left: 40px;
    position: relative;
    transform-origin: left bottom;
    transition-duration: 0.14s;
    transition-property: transform, opacity, height, padding, margin;
    transition-timing-function: ease-in;
    &:hover {
        background-color: #091e420a;
    }

    .todo-preview {
        float: left;
        padding-bottom: 9px;
        width: 100%;

        svg{
            color: #dfe1e6;
            cursor: pointer;
        }

        textarea {
            align-self: center;
            cursor: pointer;
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
            overflow: hidden;
            box-shadow: unset;
            font-size: 14px;
            resize: none;
            border-radius: 3px;
            outline: none;
            line-height: 20px;
            margin-bottom: 12px;
            padding: 8px 12px;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
        }
        textarea:focus {
            cursor: text;
            min-height: 56px;
            background: #091e420a;
            border-color: #091e4221;
            box-shadow: inset 0 0 0 1px #dfe1e6;
            margin-bottom: 4px;
            overflow-wrap: break-word;
            resize: none;
        }
        span {
            align-self: center;
            flex: 1;
            margin-bottom: 0;
            min-height: 20px;
            cursor: pointer;
            overflow-wrap: break-word;
            word-break: break-word;
        }
    }
}
