.homepage {
  width: 100%;
  color: $clr7;
  .hero {
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    .hero-content {
      width: 500px;
      h1 {
        font-size: rem(40px);
        font-weight: 600;
      }
    }
    .hero-img {
      max-height: 600px;
    }
    button {
      font-size: rem(25px);
      padding: 10px 0;
      border-radius: 6px;
      letter-spacing: 1px;
      width: 50%;
      color: white;
      text-decoration:none;
      transition: background-color 0.15s ease-in;

      &:hover {
        background-color: darken($clr1, 10%);
      }
    }
  }
}
