.login-signup {
  padding-top: 100px;
  background-color: #f9fafc;
  min-height: 98vh;
  color: #172b4d;
  .login-container {
    background-color: #fff;
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    min-width: 400px;
    p {
      color: #5e6c84;
      text-align: center;
      font-size: 16px;
      letter-spacing: -0.01em;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 25px;
      &:last-child{
          color:#5e6c84;
          text-decoration: underline;
          cursor: pointer;
          font-weight:500;
      }
    }
    form {
      width: 100%;
      input {
        font-size: 14px;
        background-color: #fafbfc;
        border-radius: 3px;
        border: 2px solid #dfe1e6;
        height: 44px;
        padding: 7px;
        transition: background-color 0.2s ease-in-out 0s,
          border-color 0.2s ease-in-out 0s;
        box-shadow: unset;
        margin-bottom: 17px;
        width: 100%;
        &:focus {
            background-color: #fff;
            border: 2px solid #4c9aff;
            box-shadow: 0 0 0;
        }
      }
      button.login-submit {
        background: linear-gradient(180deg, #61bd4f 0, #5aac44);
        box-shadow: 0 2px 0 #3f6f21;
        color: #fff;
        font-weight: 700;
        box-shadow: none;
        margin-bottom: 17px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 3px;
        padding: 6px 12px;
        transition:background-color .2s;
        &:hover {
            background: linear-gradient(180deg, #5aaf49 0, #55a140);        }
      }
    }
  }
  .logo {
    color: inherit;
    color: #172b4d;
    margin-bottom: 40px;
    .logo-icon {
      height: 52px;
      width: 52px;
      margin-right: 5px;
    }
    h1 {
      color: #172b4d;

      font-size: rem(58px);
      margin: 0;
      font-weight: 400;
      font-family: Secular;
    }
  }
}
