.workspace-page {
    margin-top:100px;
    align-items: center;
    @include for-workspace-layout {
        align-items: unset;
    }
    h1{
        margin-bottom:25px;
    
    }
    svg {
        padding:5px;
    }
    .board-lists { 
        gap:20px;
    }
}