.workspace-page {
    margin-top:100px;
    align-items: center;
    @include for-normal-layout {
        align-items: unset;
    }
    h1{
        margin-bottom:25px;
    
    }
    svg {
        padding:5px;
    }
    .board-lists { 
        gap:20px;
    }
}
@media screen and (min-width: 500px) and (max-width:1099px){
    // .board-list{
    //     padding: 0 50px;
        
    // }
    .workspace-page {
        padding:0 50px ;
    }
  }