.members {
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  margin-inline-end: 10px;

  .member-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: -2px;
  }
  &.preview {
    gap: 1px;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-inline-end: unset;

    .member-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 0px;
    }
  }
  .member-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    // border: 0.01rem solid rgba(255, 255, 255, 0.329);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .member-letter {
    position: relative;
    top: 25%;
    font-weight: 600;
    margin: 0 0 1.25em;

    &.preview {
      margin: 0 0 1.25em;
    }
  }
  .secondary-btn {
    display: flex;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 32px;
    padding: 0;
    height: 32px;
    svg {
      path {
        color: #172b4d;
      }
    }
  }
}
