.members {
  display: flex;
  position: relative;
  align-items: center;
  margin-inline-end: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 2px;
  &.in-header {
    margin-inline-end: 0;
  }

  &.preview {
    gap: 1px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin-right: 0;
    position: relative;
    margin-bottom: 2px;
    &.many {
      .member-wrapper {
        margin-left: -10px;
      }
    }
    .member-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-left: 0px;
      position: relative;
    }
  }
  .member-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: -2px;
    filter: brightness(1);
    cursor: pointer;
    position: relative;

    &:hover {
      filter: brightness(1.2);
    }
  }
  .member-img {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .member-letter {
    position: relative;
    top: 25%;
    font-weight: 600;
    margin: 0 0 1.25em;

    &.preview {
      margin: 0 0 1.25em;
    }
  }
  .secondary-btn {
    display: flex;
    border-radius: 50%;
    border: none;
    justify-content: center;
    align-items: center;
    width: 32px;
    padding: 0;
    height: 32px;
    svg {
      path {
        color: #172b4d;
      }
    }
  }
}
