.task-preview-container {
  box-shadow: 0 1px 0 #c0c6d0;
  transition: background-color 0.2s;
  margin-bottom: 8px;

  p {
    color: #172b4d;
  }
  .edit-icon {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 26px;
    width: 26px;
    pointer-events: hover;
    padding: 14px;
    background: #ffffffb4;
    border-radius: 3px;
    color: rgb(94, 94, 94);
    pointer-events: visible;

    .icon {
      pointer-events: none;
    }
  }

  &:hover {
    filter: brightness(0.97);
    background: initial;
    pointer-events: auto;

    .edit-icon {
      opacity: 1;
      cursor: pointer;
      filter: brightness(1);
      transition: color 0.2s, filter 0.2s, opacity 0.2s;

      a {
        color: rgb(87, 86, 86);
      }
      .icon {
        height: 16px;
        width: 16px;
      }
      &:hover {
        filter: brightness(0.97);
        a {
          color: rgb(48, 47, 47);
        }
      }
    }
  }

  &.full-cover {
    height: 49px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    &.img {
      height: auto;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 3px;
        max-height: 240px;
      }
      p {
        position: absolute;
        bottom: 0px;
        color: white;
        font-size: rem(16px);
        font-weight: 500;
        padding-left: 8px;
        padding-bottom: 15px;
        margin: 0;
      }
      .img-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65px;
        background: linear-gradient(180deg, #fff0, #000000f3);
        border-radius: 3px;
      }
    }
    .task-preview {
      background: unset;
      box-shadow: unset;
      justify-content: flex-end;
      height: 100%;
      padding: 6px;
      box-shadow: 0 1px 0 #c0c6d0;
      position: relative;
      p {
        margin: 0;
        padding-left: 4px;
        font-weight: 500;
      }
    }
  }
  .task-cover {
    height: 32px;
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
  .task-preview {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 32px;
    margin: 0;
    box-shadow: 0 1px 0 #c0c6d0;

    a {
      text-decoration: none;
      display: flex;
    }
    p {
      margin: 0;
    }
    background: #fff;
    padding: 5px 8px;
    padding-bottom: 3px;
    border-radius: 3px;
    font-size: rem(14px);
    transition: background-color 0.1s;
    cursor: pointer;

    img.task-cover-img {
      padding: 0 0 8px 0;
      width: 100%;
      max-height: 240px;
      // height: auto;
      object-fit: contain;
      border-radius: 3px;
    }

    .task-preview-icons {
      flex-wrap: wrap;
      gap: 5px;
      span {
        align-items: center;
        justify-content: center;
        max-height: 32px;

        &:last-of-type {
          padding-right: 2px;
        }
        p {
          margin: 0;
          padding: 0;
          color: rgb(107, 119, 140);
          letter-spacing: 0px;
          font-size: rem(12px);
        }
        &.checklist.done {
          margin-inline-start: 6px;
          background: rgb(97, 189, 79);
          padding-right: 6px;
          border-radius: 3px;
          height: 20px;

          p {
            color: white;
          }
          .icon {
            color: white;
          }
        }
        &.due-date {
          display: flex;
          align-items: center;
          max-height: 20px;
          padding: 2px 2px 2px 0px;

          p {
            font-size: rem(12px);
          }
          &.overdue {
            padding: 2px 0px 2px 0px;
            border-radius: 4px;
            p {
              color: white;
              margin-right: 5px;
            }
            background: rgb(236, 148, 136);
            color: white;
            .icon {
              color: inherit;
            }
          }
          &.done {
            border-radius: 4px;
            padding: 2px 0px 2px 0px;

            p {
              color: white;
              margin-right: 5px;
            }
            background: rgb(97, 189, 79);
            color: white;
            .icon {
              color: inherit;
            }
          }
        }
        .icon {
          padding: 4px 4px 4px 0px;
          color: rgb(107, 119, 140);
          &.msg {
            position: relative;
            top: 1px;
          }
          &.attach {
            padding-right: 0;
          }
        }
      }
    }
  }
  &.edit {
    position: relative;
    textarea {
      background: inherit;
      border: none;
      border-radius: 3px;
      padding: 0px 0px;
      height: 90px;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
      font-size: 14px;
      font-weight: 400;
      outline: 0;
      resize: none;
      transition: min-height 0.6s, box-shadow 0.4s;

      overflow: hidden;
      overflow-wrap: break-word;
      min-height: 56px;
      background-color: #fff;
      color: #172b4d;

  }
}
}
button.save-btn {
  z-index:50;
  background-color:$clr1;
  color:white;
  width:fit-content;
  height:32px;
  width:76.7px;
  border-radius:3px;
  padding: 6px 12px;
  font-size:rem(14px);
  margin-top:8px;
  transition-duration: 85ms;
  transition-property: background-color,border-color,box-shadow;
  transition-timing-function: ease;
  &:hover{
    background-color: #026aa7;

  }
}