.group-list {
    display:flex;
    // gap: 8px;
    position:relative;
    padding:8px;
    padding-top:50px;
    overflow-x: auto;
    min-height:92vh;
    overflow-y: hidden;
    

    &::-webkit-scrollbar {
      height:15px;
      border-radius: 50px;

    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.151);
      margin:0 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #d6d6d68f;
      border-radius: 5px;
    }
}
