.board-header {
  top: 46px;
  position: relative;
  background-color: transparent;
  color: white;
  z-index: 1;
  gap: 6px;  
  overflow-x: hidden;
  max-width:100%;

  @include for-normal-layout {
      overflow-x: unset;

  }
  form {
    margin: 0;
    span {
      opacity: 0;
      font-size: rem(18px);

      font-weight: bold;
      white-space: pre;
    }
  }
  .title {
    margin: 0;
    padding: 0;
    width: auto;
    border: none;
    outline: none;
    height: 32px;
    font-size: rem(18px);
    font-weight: bold;
    border-radius: 3px;
    cursor: text;
    min-width: 30px;
    padding: 7px 5px;
    margin: 0;
    color: white;
    background-color: #ffffff3d;
    white-space: pre;
    max-width: 185px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    @include for-normal-layout {
      max-width: unset;
      overflow-x: unset;
    }
  }
  .members {
    display: none;
    @include for-normal-layout {
      display: flex;
    }
  }
  input.title {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
      Ubuntu, Droid Sans, Helvetica Neue, sans-serif !important;

    font-size: rem(18px);
    background-color: rgba(43, 43, 43, 0.507);
    color: #fff;
    border-radius: 3px;
    position: relative;
    top: -11px;
    // text-align: center !important;
    // min-width: 97vw ;
    min-width:97vw !important;
    @include for-normal-layout {
      // max-width: unset;
      overflow-x: hidden;
      min-width: 10vw !important;
    }
    &.height-adjust {
      top: 1px;
    }
  }
  .header-btn-container {
    align-items: center;
    position: relative;
    button.header-btn {
      background-color: #ffffff3d;
      padding: 5px 5px;
      width: fit-content;
      border-radius: 3px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .btn-txt {
        display: none;
        @include for-normal-layout {
          display: flex;
        }
      }
      &.star {
        margin-inline-end: 10px;
      }
      &.last-in-row {
        padding-inline-end: 3px;
        // @include for-normal-layout {
        //   padding-inline-end: 10px;
        // }
      }
      @include for-normal-layout {
        &.menu,&.dash { 
          padding-right:10px;
        }
      }

      .icon {
        padding: 3px;
        padding-right: 3px;
        &.menu {
          padding-right: 5px;
        }
        &.star {
          padding: 2px;
          &.gold {
            color: gold;
          }
        }
      }
    }
    .results {      
      position:fixed;
      background-color: #5aac44;
      border-radius: 3px;
      top:55px;
      right:9px;
      &:hover {
        background-color: #ffffff3d;
      }
      .btn-results {
        padding: 0px 8px;
        background-color: #5aac44;
        border-radius: 3px;
        &:hover {
          background-color: #ffffff3d;
        }
      }
      span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      @include for-normal-layout {
        position:relative;
        top:unset;
        margin-left:15px;
      }
    }
  }

}
