.board-member-add {

  color: $clr7;
  position:fixed;
  top:75px;
  width:90%;
  left:5%;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  padding: 0px 12px;
  padding-bottom: 12px;
  z-index: 100;
  border-radius: 3px;
  // max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  h4 {
    color: #5e6c84;
    line-height: 40px;
    padding: 0 32px;
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  }
  input {
    margin-top: 12px;
    width:320px;
  }
  .clean-list {
    gap: 2px;
  }
  @include for-normal-layout {
    top:235px;
    left:-165px;
    position:relative;
    width:300px;
    color: $clr7;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    padding: 0px 12px;
    padding-bottom: 12px;
    z-index: 100;
    border-radius: 3px;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
    height:50vh;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      input {
        margin-top: 12px;
        width:90%;
      }
  }
}
