.board-preview {
  position: relative;
  .board-content {
    cursor: pointer;
    height: 100%;
    border-radius: 3px;
    transition: filter 0.2s;
    filter: brightness(1);
    background-size: cover !important;
    background-position:center !important;
    &:hover {
      filter: brightness(0.8);
    }
  }
  p {
    position: absolute;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-inline-start: 10px;
    max-width: 30ch;
    top: 0;
  }
  .hover-actions {

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    gap:5px;
    &.show {
      opacity:1;
    }
    .action-icon {
      height: 27px;
      width: 27px;
      background-color:rgba(255, 255, 255, 0.185);
      padding:2px;
      border-radius: 3px;
      cursor:pointer;
      transition: background-color .2s,transform .2s ease-out;
      transform:scale(1);
      &:hover{
        background-color:rgba(107, 104, 104, 0.185);
        transform:scale(1.1)

      }
    }
  }
  &:hover .hover-actions {
    opacity: 1;
    pointer-events: auto;
  }
}
