.popup-container {
    position:relative;
    .member-popup {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.253), 0 0 0 1px rgba(9, 30, 66, 0.082);
        position: absolute;
        top:20px;
        left:-150px;
        padding: 0 12px 12px;
        min-width: 20rem;
        margin-right: 4px;
        max-width: 100%;
        height:100px;
        display:flex;
       .member-img {
           height:50px;
           width:50px;
       }
    }

}
