/* Breakpoint mixins */
/* Media  Mixins */
.fs12 {
  font-size: 0.75rem;
}

.fs14 {
  font-size: 0.875rem;
}

.fs18 {
  font-size: 1.125rem;
}

.fs20 {
  font-size: 1.25rem;
}

.fs24 {
  font-size: 1.5rem;
}

.fs28 {
  font-size: 1.75rem;
}

.fs30 {
  font-size: 1.875rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex > *.full {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.square-ratio {
  position: relative;
  overflow: hidden;
}

.square-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.square-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.square-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-ratio {
  position: relative;
  overflow: hidden;
}

.video-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.video-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portrait-ratio {
  position: relative;
  overflow: hidden;
}

.portrait-ratio::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 177.77778%;
}

.portrait-ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portrait-ratio > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidden {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.none-opacity {
  opacity: 0;
}

.full-opacity {
  opacity: 1;
}

.clean-link {
  text-decoration: none !important;
  color: inherit;
}

.clean-btn {
  outline: none;
  border: none;
  cursor: pointer;
}

.atlaskit-portal-container .nch-button,
body .nch-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #091e420a;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #172b4d;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  -webkit-transition-duration: 85ms;
          transition-duration: 85ms;
  -webkit-transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow;
  transition-property: background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 20px;
      grid-template-columns: 20px 1fr 20px;
}

.main-container > * {
  -ms-grid-column: 2;
  grid-column: 2;
}

.main-container > *.full {
  grid-column: 1 /-1;
}

@media (min-width: 500px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 460px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 460px) minmax(20px, 1fr);
  }
}

@media (min-width: 760px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 720px) minmax(20px, 1fr);
  }
}

@media (min-width: 1000px) {
  .main-container {
    -ms-grid-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);
        grid-template-columns: minmax(20px, 1fr) minmax(auto, 960px) minmax(20px, 1fr);
  }
}

.main-layout {
  max-width: 1100px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #0079bf;
}

::selection {
  background-color: #0079bf;
}

html {
  font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
  margin: auto;
  color: #172b4d;
  font-family: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
  font-weight: 400;
  color: #222;
}

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
  color: #222;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 0;
  cursor: pointer;
}

.btn-link {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-link:hover {
  background-color: #0079bf;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input {
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 2px #dfe1e6;
          box-shadow: inset 0 0 0 2px #dfe1e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
  -webkit-transition-duration: 85ms;
          transition-duration: 85ms;
  -webkit-transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow;
  transition-property: background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.secondary-btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(9, 30, 66, 0.04);
  -webkit-transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow;
  transition-property: background-color, border-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 85ms;
          transition-duration: 85ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.secondary-btn:active {
  background-color: #e4f0f6;
  color: #0079bf;
}

.secondary-btn:hover {
  background-color: rgba(9, 30, 66, 0.08);
}

.primary-btn {
  background-color: #0079bf;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
}

.primary-btn:hover {
  background-color: #026aa7;
}

.primary-btn:active {
  background-color: #055a8c;
}

.danger-btn:hover {
  background-color: #9c3e2c;
}

.danger-btn {
  background-color: #b04632;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 12px;
}

.danger-btn:hover {
  background-color: #9c3e2c;
}

.task-details {
  color: #42526e;
  background-color: #f4f5f7;
  border-radius: 3px;
  max-width: 768px;
  position: absolute;
  z-index: 4;
  top: 48px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.task-details .task-details-body .task-details-main {
  width: 552px;
}

.task-details .close-task-details {
  cursor: pointer;
  color: #42526e;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 4px;
  right: 4px;
  z-index: 10;
  -webkit-transition: background-color 85ms, color 85ms;
  transition: background-color 85ms, color 85ms;
}

.task-details .close-task-details .card-cover {
  background-color: rgba(0, 0, 0, 0.08);
  color: #3d3b3b;
}

.task-details .close-task-details.cover {
  background-color: rgba(0, 0, 0, 0.08);
}

.task-details .close-task-details:hover {
  background-color: rgba(0, 0, 0, 0.16);
  color: #42526e;
}

.task-details .close-task-details svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.homepage {
  width: 100%;
  color: #222;
}

.homepage .hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.homepage .hero .hero-content {
  width: 500px;
}

.homepage .hero .hero-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.homepage .hero .hero-img {
  max-height: 600px;
}

.homepage .hero button {
  font-size: 1.5625rem;
  padding: 10px 0;
  border-radius: 6px;
  letter-spacing: 1px;
  width: 50%;
  color: white;
  background-color: #0079bf;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.homepage .hero button:hover {
  background-color: #00598c;
}

.workspace-page {
  margin-top: 100px;
}

.board-app {
  background-color: whitesmoke;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  width: 100%;
  height: 100vh;
}

.main-header {
  background-color: #0079bf;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header.on-board {
  background-color: rgba(0, 0, 0, 0.15);
}

.main-header .header-btn-container {
  gap: 6px;
}

.main-header .header-btn-container .header-btn {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 4px;
  border-radius: 3px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.main-header .header-btn-container .header-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-header .header-btn-container .user-profile {
  border-radius: 50%;
  background-color: rgba(36, 5, 5, 0.37);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header a {
  color: white;
}

.board-header {
  top: 38px;
  position: relative;
  background-color: transparent;
  color: white;
}

.board-header .title {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  outline: none;
  min-width: 30px;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: text;
  padding: 0;
  margin: 0;
  color: white;
}

.board-header input.title {
  margin: 0;
  font-family: arial;
  font-size: 1.125rem;
  background-color: rgba(43, 43, 43, 0.507);
  color: #fff;
  padding: 3px 2px;
  border-radius: 3px;
}

.board-header .header-btn-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board-header .header-btn-container button.header-btn .header-btn {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 5px;
  border-radius: 3px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.board-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(235px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  grid-auto-rows: 140px;
  grid-gap: 16px;
  gap: 16px;
}

.board-preview {
  position: relative;
}

.board-preview .board-content {
  cursor: pointer;
  height: 100%;
  border-radius: 3px;
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.board-preview .board-content:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.board-preview p {
  position: absolute;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
  max-width: 30ch;
  top: 0;
}

.group-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  position: relative;
  margin-top: 50px;
  padding: 7px;
  overflow-x: scroll;
  min-height: 90vh;
}

.group-list::-webkit-scrollbar {
  height: 15px;
  border-radius: 50px;
}

.group-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.151);
  margin: 0 8px;
}

.group-list::-webkit-scrollbar-thumb {
  background-color: #d6d6d68f;
  border-radius: 5px;
}

.group-details {
  min-width: 17rem;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ebecf0;
  padding: 0.3125rem;
  gap: 6px;
  padding: 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 272px;
  max-height: 87vh;
}

.group-details.add-new {
  background-color: #ebecf036;
  color: rgba(255, 255, 255, 0.747);
  font-size: 0.875rem;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.group-details.add-new:hover {
  background-color: #ebecf05d;
}

.group-details .group-header {
  width: 100%;
}

.group-details .group-header input {
  font-size: 1rem;
  -webkit-padding-start: 3px;
          padding-inline-start: 3px;
  font-weight: 600;
  letter-spacing: -0.03125rem;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-box-shadow: 0 0px 0 #c0c6d0;
          box-shadow: 0 0px 0 #c0c6d0;
  -webkit-transition: -webkit-box-shadow 0.2s background-color .2s;
  transition: -webkit-box-shadow 0.2s background-color .2s;
  transition: box-shadow 0.2s background-color .2s;
  transition: box-shadow 0.2s background-color .2s, -webkit-box-shadow 0.2s background-color .2s;
  padding: 0;
  margin-top: 5px;
}

.group-details .group-header input:focus-visible {
  font-size: 1rem;
  letter-spacing: -0.03125rem;
  background-color: unset;
  -webkit-box-shadow: 0 0 2px #020202;
          box-shadow: 0 0 2px #020202;
  border-radius: 2px;
  background-color: white;
}

.group-details .group-main {
  gap: 6px;
  overflow-y: auto;
}

.group-details .group-main::-webkit-scrollbar {
  width: 12px;
  background: inherit;
}

.group-details .group-main::-webkit-scrollbar-track:vertical {
  border-right: 8px solid rgba(0, 0, 0, 0.089);
}

.group-details .group-main::-webkit-scrollbar-track {
  border-radius: 20px;
}

.group-details .group-main::-webkit-scrollbar-thumb:vertical {
  border-right: 8px solid #9d9ea0;
  border-radius: 20px;
}

.group-details .group-main::-webkit-scrollbar-track:horizontal {
  border-bottom: 8px solid rgba(0, 0, 0, 0.089);
  border-radius: 20px;
}

.group-details .group-main::-webkit-scrollbar-thumb:horizontal {
  border-bottom: 8px solid #9d9ea0;
}

.group-details .group-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  justify-self: flex-end;
}

.grp-add-task .add-task-inactive {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
  font-size: 0.875rem;
  background-color: transparent;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 3px;
  color: #5e6c84;
  cursor: pointer;
}

.grp-add-task .add-task-inactive .add-icon {
  color: inherit;
}

.grp-add-task .add-task-inactive p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  color: inherit;
}

.grp-add-task .add-task-inactive:hover {
  color: #172b4d;
  background-color: #091e4214;
}

.grp-add-task .add-task-active {
  width: 100%;
  gap: 5px;
  margin: 0%;
  padding: 0;
}

.grp-add-task .add-task-active textarea {
  background-color: #fff;
  border: none;
  outline: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  padding: 4px;
  height: 70px;
  display: inline-block;
  cursor: text;
}

.grp-add-task .add-task-active .task-btns {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

.grp-add-task .add-task-active .task-btns .task-btn {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow;
  transition-property: background-color, border-color, box-shadow, -webkit-box-shadow;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  -webkit-transition-duration: 85ms;
          transition-duration: 85ms;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grp-add-task .add-task-active .task-btns .save-task-title-btn {
  background-color: #0079bf;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  width: 78.13px;
}

.grp-add-task .add-task-active .task-btns .save-task-title-btn:hover {
  background-color: #026aa7;
}

.grp-add-task .add-task-active .task-btns .edit-task-title-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #091e420a;
  border-radius: 3px;
  color: #172b4d;
}

.grp-add-task .add-task-active .task-btns .edit-task-title-btn:hover {
  background-color: #091e4214;
}

.grp-add-task .add-task-active .task-btns .close-task-title-btn {
  padding: 3px;
}

.grp-add-task .add-task-active .task-btns .close-task-title-btn svg {
  width: 32px;
  color: #42526e;
}

.grp-add-task .add-task-active .task-btns .close-task-title-btn:hover svg {
  color: #172b4d;
}

.task-header {
  max-width: 672px;
  margin: 20px 16px 8px;
}

.task-header p {
  color: #5e6c84;
  -webkit-margin-start: 40px;
          margin-inline-start: 40px;
}

.task-header .header-content textarea {
  color: #42526e;
  outline: none;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin: -4px -8px;
  min-height: 24px;
  padding: 4px;
  resize: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  height: 32px;
  overflow: hidden;
}

.task-header .header-content textarea:focus {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #0079bf;
          box-shadow: inset 0 0 0 2px #0079bf;
}

.task-header .LabelSvg {
  width: 25px;
  height: 25px;
  -webkit-margin-end: 17px;
          margin-inline-end: 17px;
}

.card-cover {
  height: 116px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  background: #eb5a46;
}

.card-cover > button {
  cursor: pointer;
  position: absolute;
  right: 8px;
  bottom: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  color: #172b4d;
  border: none;
  border-radius: 3px;
  padding: 6px 12px 6px 6px;
}

.card-cover > button:hover {
  background-color: rgba(0, 0, 0, 0.16);
  color: #091e42;
}

.task-description {
  margin-bottom: 8px;
}

.task-description .window-modal-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  margin: 0 0 4px 40px;
  padding: 8px 0;
  position: relative;
}

.task-description .window-modal-title svg {
  left: -40px;
  position: absolute;
  color: #42526e;
  height: 26px;
  width: 32px;
}

.task-description .window-modal-title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #172b4d;
}

.task-description textarea {
  background: inherit;
  border: none;
  border-radius: 3px;
  min-height: 40px;
  padding: 8px 12px;
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 8px;
  outline: 0;
  width: 94%;
  resize: none;
  -webkit-transition: min-height 0.6s, -webkit-box-shadow 0.4s;
  transition: min-height 0.6s, -webkit-box-shadow 0.4s;
  transition: min-height 0.6s, box-shadow 0.4s;
  transition: min-height 0.6s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
  margin-left: 30px;
}

.task-description textarea:focus {
  min-height: 108px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #0079bf;
          box-shadow: inset 0 0 0 2px #0079bf;
}

.task-description .task-btns {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, -webkit-box-shadow;
  transition-property: background-color, border-color, box-shadow;
  transition-property: background-color, border-color, box-shadow, -webkit-box-shadow;
  line-height: 20px;
  padding: 6px 12px;
  text-decoration: none;
  -webkit-transition-duration: 85ms;
          transition-duration: 85ms;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.task-description .description-btns {
  margin-left: 30px;
}

.task-description .description-btns .save-task-description-btn {
  -webkit-margin-end: 4px;
          margin-inline-end: 4px;
}

.task-description .save-task-description-btn {
  background-color: #0079bf;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.task-description .save-task-description-btn:hover {
  background-color: #026aa7;
}

.task-description .edit-task-description-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #091e420a;
  border-radius: 3px;
  color: #172b4d;
  margin-left: 8px;
}

.task-description .edit-task-description-btn:hover {
  background-color: #091e4214;
}

.task-description .close-task-description-btn svg {
  width: 32px;
  color: #42526e;
}

.task-description .close-task-description-btn:hover svg {
  color: #172b4d;
}

.task-activities .window-modal-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 32px;
  margin: 0 0 4px 40px;
  padding: 8px 0;
  position: relative;
}

.task-activities .window-modal-title svg {
  left: -40px;
  position: absolute;
  color: #42526e;
  height: 26px;
  width: 32px;
}

.task-activities h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #172b4d;
}

.task-activities .activity-toggle-btn {
  border: none;
  border-radius: 3px;
  background-color: #091e420a;
  cursor: pointer;
  color: #172b4d;
  display: inline-block;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
}

.task-activities .activity-toggle-btn:hover {
  background-color: #091e4214;
}

.task-details-sidebar .actions-wrapper {
  padding: 0 16px;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-details-sidebar .actions-wrapper .action-btn {
  position: relative;
  margin-bottom: 8px;
  color: #172b4d;
}

.task-details-sidebar .actions-wrapper .action-btn .action-btn-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20px;
}

.task-details-sidebar .actions-wrapper .action-btn .action-btn-content svg {
  color: rgba(23, 43, 77, 0.8);
  margin: 0 8px 0 -4px;
  width: 18px;
  height: 18px;
}

.task-details-sidebar .actions-wrapper .action-btn .action-btn-content span {
  color: inherit;
  line-height: 17px;
}

.task-details-sidebar .actions-wrapper .action-btn:active {
  background-color: #e4f0f6;
  color: #0079bf;
}

.task-details-sidebar .actions-wrapper h4 {
  grid-column: 1/-1;
  color: #5e6c84;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.task-details-sidebar .actions-wrapper .suggested {
  margin-bottom: 16px;
}

.task-details-sidebar .actions-wrapper .add-to-card {
  margin-bottom: 24px;
}

.task-preview {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 #c0c6d0;
          box-shadow: 0 1px 0 #c0c6d0;
  font-size: 0.875rem;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  cursor: pointer;
}

.task-preview a {
  text-decoration: none;
}

.task-preview:hover {
  background-color: #f4f5f7;
}

.task-preview .task-title {
  margin-bottom: 10px;
}

.task-preview .task-preview-icons span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task-preview .task-preview-icons span p {
  margin: 0;
  padding: 0;
  color: #6b778c;
  letter-spacing: 0px;
  font-size: 0.75rem;
}

.task-preview .task-preview-icons span.due-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.task-preview .task-preview-icons span.due-date p {
  font-size: 0.75rem;
}

.task-preview .task-preview-icons span.due-date.overdue {
  padding: 2px 2px;
  border-radius: 4px;
  background-color: #ec9488;
  color: white;
}

.task-preview .task-preview-icons span.due-date.overdue p {
  color: white;
  margin-right: 5px;
}

.task-preview .task-preview-icons span.due-date.overdue .icon {
  color: inherit;
}

.task-preview .task-preview-icons span.due-date.done {
  padding: 2px 2px;
  border-radius: 4px;
  background-color: #61bd4f;
  color: white;
}

.task-preview .task-preview-icons span.due-date.done p {
  color: white;
  margin-right: 5px;
}

.task-preview .task-preview-icons span.due-date.done .icon {
  color: inherit;
}

.task-preview .task-preview-icons span .icon {
  padding: 4px;
  color: #6b778c;
}

.task-labels-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
}

.task-labels-container .label {
  height: 8px;
  font-size: 12px;
  border-radius: 4px;
  width: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 0 0;
  -webkit-transition: height .5s , padding .3s;
  transition: height .5s , padding .3s;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}

.task-labels-container .label span {
  -webkit-transition: opacity .05s;
  transition: opacity .05s;
  opacity: 0;
  font-weight: 700;
  max-height: 16px;
  position: relative;
  top: -2px;
}

.task-labels-container .label.expanded {
  padding: 0 3px;
  width: auto;
  min-width: 40px;
  -webkit-transition: height .5s .5s, padding .5s;
  transition: height .5s .5s, padding .5s;
  height: 16px;
}

.task-labels-container .label.expanded span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 1;
  -webkit-transition: opacity .2s .5s;
  transition: opacity .2s .5s;
}

.task-labels-container .label:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.popover {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -4px #091e42, 0 0 0 1px #091e42;
          box-shadow: 0 8px 16px -4px #091e42, 0 0 0 1px #091e42;
  position: fixed;
  z-index: 70;
  padding: 0 12px 12px;
  min-width: 20rem;
  margin-right: 4px;
  max-width: 100%;
}

.popover .popover-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #5e6c84;
  line-height: 40px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.13);
  margin: 0 0 12px;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-overflow: ellipsis;
}

.popover .popover-header span {
  color: #5e6c84;
  line-height: 40px;
  padding: 0 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.popover .popover-header button {
  background-color: white;
  color: #6b778c;
  padding: 10px 12px 10px 8px;
  position: absolute;
  right: 0;
  top: 0;
}

.popover .popover-header button:hover {
  color: #172b4d;
}

.popover .popover-header svg {
  width: 20px;
}

.popover .popover-content h4 {
  color: #5e6c84;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.popover .popover-content input[type="search"],
.popover .popover-content input[type="text"] {
  margin: 4px 0 12px;
  width: 100%;
  outline: none;
  border: none;
  -webkit-box-shadow: inset 0 0 0 2px #dfe1e6;
          box-shadow: inset 0 0 0 2px #dfe1e6;
  background-color: #fafbfc;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  padding: 8px 12px;
  color: #172b4d;
  font-size: 14px;
}

.checklist-container .checklist-form label {
  color: #5e6c84;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.checklist-container .checklist-form input {
  margin: 4px 0 12px;
  width: 100%;
}

.checklist-container .checklist-form .add-checklist-btn {
  background-color: #0079bf;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.loader {
  position: relative;
  top: 75px;
  left: 47%;
}

.popover-labels .secondary-btn {
  color: #172b4d;
  width: 100%;
  margin: 1rem 0;
}

.popover-labels .secondary-btn:active {
  background-color: #e4f0f6;
}

.popover-labels li {
  margin: 0 0 0.25rem;
}

.popover-labels li svg {
  cursor: pointer;
}

.popover-labels li div:last-child {
  padding: 8px;
}

.label-add-content {
  width: 18rem;
}

.label-popover-preview {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  min-height: 1.25rem;
  padding: 0.375rem 0.75rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label-popover-preview:hover {
  -webkit-padding-start: 14px;
          padding-inline-start: 14px;
  margin-left: 4px;
}

.color-palette {
  width: 100%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color-palette label[name="label-color"] {
  width: 48px;
  height: 32px;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 3px;
  cursor: pointer;
}

.color-palette label[name="label-color"]:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.color-palette input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
}

.color-palette svg {
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */